@charset "utf-8";

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -o-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
}

/* titulo h1 */
@font-face {
    font-family: tttravels;
    src: url('../font/TT\ Travels\ Trial\ Bold.otf');
}

/* titulo h2 */
@font-face {
    font-family: fraunces;
    src: url('../font/static/Fraunces_144pt-Bold.ttf');
}

/* titulo h2 seção ABOUT */
@font-face {
    font-family: frauncesA;
    src: url('../font/static/Fraunces_144pt-Italic.ttf');
}

/* paragrafo - seção ABOUT */
@font-face {
    font-family: paragrafo;
    src: url('../font/TT\ Travels\ Trial\ Light.otf');
}

:root{
    --color1:#59462F;
    --color2:#F2EFEB;
    --color3:#8C715A;
    --color4:#BF9A84;
    --color5:#D9BDAD;
}

header{
    background-image: url('../img/coffee.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
    height: 100vh;
    margin: auto;
}

nav {
    display: flex;
    background-color: var(--color1);
    height: auto;
}
.navbar-brand {
    color: white;
    font-family: ttTravels;
    font-size: 1.2rem;
}
.navbar-brand:hover {
    color: var(--color5);
}
nav ul{
    margin-left: auto;
}
nav ul li{
    text-transform: uppercase;    
}

nav ul li a:nth-last-of-type(1){
    color: #ffffff;
}
nav .nav-link:hover {
    color: var(--color5);
}
nav button[type="button"]{
    background-color: var(--color5);
    margin-left: auto;
}

.spanTituloUm{
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.9rem;
    color: white;
    margin-left: 10px;
}

h2 {
    font-family: Fraunces;
    text-transform: capitalize;
    color: white;
    font-size: 4rem;
    margin-top: 150px;
}

.spanTituloDois{
    font-family: ttTravels;
    font-size: 1rem;
    color: white;
    margin: 500px;
}

header a[type="button"]{
    background-color: var(--color2);
    color: var(--color3);
    font-family: ttTravels;
    padding: 10px;
    width: 200px;
    border: 0;
    border-radius: 0;
}

header a[type="button"]:hover{
    background-color: #59462F;
}

/* ==== 
SEÇÃO ABOUT 
   ==== */
section#about{
    height: auto;
    background-color: var(--color2);
    margin: 0 auto;
    display: flex;
    padding: 30px 0;
}  

section#about h2{
    margin: auto;
    color: var(--color4);
    text-transform: none;
    font-family: frauncesA;
}

section#about h3{
    margin: auto;
    color: var(--color1);
    text-transform: none;
    padding: 5px;
}

section#about p {
    padding: 5px;
    font-family: paragrafo;
    text-transform: uppercase;
}

/* ============
SEÇÃO DAILY DELO  
===============*/

section#delo img{
    margin: auto;
    float: left;
}

section#delo .row{
    display: flex;
    float: left;
    width: auto;
    margin: 0;
    padding: 0;
}

section#delo .col{
    margin: 0;
    padding: 0;
}

/* ============
SEÇÃO FEATURES  
===============*/
section#features {
    height: auto;
    background-color: var(--color2);
}

section#features h2{
    color: var(--color3);
    text-align: center;
    padding: 5px 0;
}

section#features ul {
    border: 0 !important;
}

section#features ul li{
    margin: auto;
    width: 50%;
    background-color: var(--color2);
    list-style-type: square;
    font-size: 1.2rem;
    padding: 10px;
}

section#features img {
    width: 50%;
}

section#features .row{
    margin: 0;
    padding: 30px;
}

section#features .col{
    margin: 0;
    padding: 0;
}

/* ============
SEÇÃO PRICING 
===============*/
section#pricing {
    height: auto;
    background-color: var(--color4);
    display: flex;
}

section#pricing .bloco{
    text-align: center;
    margin-top: -80px;
}

section#pricing .bloco p {
    color: var(--color1);
}
section#pricing .card {
    border: 0 !important;
    border-radius: 0 !important;
    margin: auto;
    height: auto;
    width: 250px;
}

section#pricing .colorT {
    color: var(--color4);
    font-family: frauncesA;
    font-size: 3rem;
}

section#pricing .border-bottom{
    border-bottom: 1px solid var(--color3) !important;
}

section#pricing a {
    background-color: var(--color5);
    color: var(--color1);
    font-weight: bolder;
    width: 100%;
    border: 0 !important;
    border-radius: 0 !important;
}

section#pricing a:hover {
    background-color: var(--color1);
    color: var(--color4);
}

/* ============
 SEÇÃO FEEDBACK 
===============*/
section#feedback {
    height: 100vh;
    background-color: var(--color1);
    background-image: url('../img/tea.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}

section#feedback .row{
    margin-top: 200px;
    display: flex;
    justify-content: center;
    align-content: center;
}

section#feedback .titulo{
    color: white;
    font-weight: bold;
    position: relative;
    top: 50px;
}
section#feedback .nome{
    color: white;
    font-weight: bold;
    font-size: 2rem;
    padding: 0 !important;
    margin: 0 !important;
}
section#feedback .topico{
    color: white;
    font-size: 1.5rem;
    text-transform: capitalize;
}
section#feedback .descricao{
    color: white;
}

/* ============
 SEÇÃO ORDER NOW 
===============*/
section#ordernow{
    width: auto;
    background-color: var(--color5);
}

section#ordernow p:first-child {
    margin: 0;
    font-family: paragrafo;
    font-weight: 900;
    color: white;
}

section#ordernow .row{
    margin: 0;
    padding: 0;
}

/*imagem*/
section#ordernow .col:nth-of-type(2){
    padding: 0;
    margin: 0;
}

section#ordernow .col:nth-of-type(1){
    align-self: center;
    margin: auto;
    text-align: center;
}

section#ordernow a {
    background-color: white;
    color: var(--color4);
    text-transform: capitalize;
    border: 0 !important;
    border-radius: 0 !important;
    font-weight: bold;  
}
section#ordernow a:hover {
    background-color: var(--color3);
    color: white;
    transition: all 1s;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    -ms-transition: all 1s;
    -moz-transition: all 1s;
}

section#ordernow .col .imagem{
    float: right;
    background-image: url('../img/coffee-shop.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    border: 5px inset var(--color4);
    -webkit-border: 5px inset var(--color4);
    -o-border: 5px inset var(--color4);
    -ms-border: 5px inset var(--color4);
    -moz-border: 5px inset var(--color4);
}

/* ============
 SEÇÃO CONTACT 
===============*/
section#contact {
    height: 100vh;
    background-color: var(--color2);
}

section#contact .row{
    margin: 0;
    padding: 0;
}

/*imagem*/
section#contact .col:nth-of-type(1){
    padding: 0;
    margin: 0;
}

section#contact .col .imagem{
    float: left;
    background-image: url('../img/clifford.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 100vh;
    width: 100%;
    border: 5px inset var(--color2);
    -webkit-border: 5px inset var(--color2);
    -o-border: 5px inset var(--color2);
    -ms-border: 5px inset var(--color2);
    -moz-border: 5px inset var(--color2);
}

section#contact .display-2{
    font-weight: bold;
    color: var(--color4);
}

section#contact .icon{
    margin-top: 20% !important;
}

section#contact .col > i{
    margin: 5px !important;
    padding: 10px !important;
    font-size: 25px;
}

/* ============
       RWD 
===============*/
@media (max-width: 700px){
    section#about .row {
        display: flex;
        flex-direction: column;
    }

    /* seção about */
    section#about h2{
        padding-bottom: 50px;
    }
    /* seção delo */
    section#delo .row{
        display: flex;
        flex-direction: column;
    }
    /* seção features */
    section#features .row{
        display: flex;
        flex-direction: column;
    }

    section#features img{
        margin: auto;
        display: flex;
    }
    
    /* seção pricing */
    section#pricing{height: auto;}
    section#pricing .row{
        display: flex;
        flex-direction: column;
    }
    
    /* seção feedback */
    section#feedback{height: auto;}
    section#feedback .row{
        display: flex;
        flex-direction: column;
    }
    
    /*seção order now*/
    section#ordernow{height: auto;}
    section#ordernow .row{
        display: flex;
        flex-direction: column;
    }
    
    section#ordernow .col{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    
    section#ordernow img{
        width:50%;
        margin: auto;
    }
    
    /* seção contact */
    /* section#contact .col .imagem{{width: auto;}}*/
    section#contact .row{
        display: flex;
        flex-direction: column;
        background-color: var(--color2);
    }
    
    section#contact .col{
        display: flex;
        flex-direction: column;
    }

    /* seção contact midia social*/
    section#contact .icon{
    margin-top: 10% !important;
    }

    section#contact .col{
        display: block !important;
        flex-direction: row !important;
        text-align: center;
    }
}

@media (max-width: 500px){
    .spanTituloDois{
        margin: auto;
        width: auto;
        font-size: 13px;
        display: flex;
    }

    /* seção about */
    section#about h2{
        padding-bottom: 50px;
        font-size: 2rem;
    }
}